@import 'compass/reset';
@import 'compass/css3';

*{
	box-sizing: border-box;
}
body {
	background-color: #000;
}
#wrapper {
	max-width: 1200px;
	width: 100%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;

	// normal size with 120px, used as default value
	&.normal {
		.block-container {
			width: 120px;
			height: 120px;
			padding: 10px;
		}
		.block {
			width: 100px;
			height: 100px;
		}
		.waiting-queue {
			.block-container {
				&:before {
					width: 20px;
					height: 20px;
					top: 50px;
					left: 50px;
				}
			}
		}
		.result-queue {
			.block-container {
				&:before {
					width: 100px;
					height: 100px;
					top: 10px;
					left: 10px;
				}
			}
		}
	}
	// large size with 200px
	&.large {
		.block-container {
			width: 200px;
			height: 200px;
			padding: 15px;
		}
		.block {
			width: 170px;
			height: 170px;
		}
		.waiting-queue {
			.block-container {
				&:before {
					width: 30px;
					height: 30px;
					top: 85px;
					left: 85px;
				}
			}
		}
		.result-queue {
			.block-container {
				&:before {
					width: 170px;
					height: 170px;
					top: 15px;
					left: 15px;
				}
			}
		}
	}
	// small size with 80px
	&.small {
		.block-container {
			width: 80px;
			height: 80px;
			padding: 10px;
		}
		.block {
			width: 60px;
			height: 60px;
		}
		.waiting-queue {
			.block-container {
				&:before {
					width: 16px;
					height: 16px;
					top: 32px;
					left: 32px;
				}
			}
		}
		.result-queue {
			.block-container {
				&:before {
					width: 60px;
					height: 60px;
					top: 10px;
					left: 10px;
				}
			}
		}
	}
}
.blocks {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	@include inline-block;
}

/* Default size */
.block-container {
	position: relative;
	width: 120px;	
	height: 120px;
	padding: 10px;
	float: left;
	@include border-radius(5px);
	&.focus {
		background-color: #fff;
	}
}
.block {
	width: 100px;
	height: 100px;
	@include border-radius(5px);
	cursor: pointer;
	z-index: 1;
}
.waiting-queue {
	text-align: center;
	.block-container {
		&:before {
			content: '';
			box-sizing: border-box;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 50px;
			left: 50px;
			@include border-radius(5px);
			z-index: -1;
			background-color: #aaa;
		}
	}
}
.result-queue {
	text-align: center;
	.block-container {
		&:before {
			content: '';
			box-sizing: border-box;
			width: 100px;
			height: 100px;
			position: absolute;
			top: 10px;
			left: 10px;
			z-index: -1;
			@include border-radius(5px);
			border: 5px solid #aaa;
			cursor: pointer;
		}
		&.empty {
			&:before {
				z-index: 0;
			}
		}
	}
}